

h1,
h2,
h3 {
    font-family: sans-serif;
    text-transform: uppercase;
}

a {
    color: seashell;
    text-decoration: none;
    padding: 10px;
    background-color: gray;
    border-radius: 15px;
}

a:hover {
    background-color: black;
}

span {
    color: red;
    text-align: center;
    font-style: italic;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5vw;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    max-width: 300px;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid;
}


.articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 5vw;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
}

.articles > div {
    padding: 20px;
    max-width: 1000px;
    border-bottom: 2px solid;
}

.connexion {
    display: flex;
    gap: 10px;
}

.titre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modif {
    display: flex;
    gap: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
}